:host ::ng-deep .width {
    width: 500px !important;
    margin: 0;
}

.buttons-cog {
    opacity: 0.6;
    transition: 0.3s;
    position: absolute;
    margin-top: 10px;
    margin-left: 505px;
}

.buttons-cog:hover {
    opacity: 1
}

.buttons-clr {
    opacity: 0.6;
    transition: 0.3s;
    position: absolute;
    margin-top: 50px;
    margin-left: 505px;
}

.buttons-clr:hover {
    opacity: 1
}
