.example-box:hover {
    .buttons-cog {
        visibility: visible !important;
    }

    .buttons-clr {
        visibility: visible !important;
    }
}

.field-checkbox {
    width: 500px;
    height: 75px;
}
