.example-box:hover {
    .buttons-cog {
        visibility: visible !important;
    }

    .buttons-clr {
        visibility: visible !important;
    }
}

.handle:hover {
    cursor: move;
    border-style: solid;
    border-color: dodgerblue;
    border-width: 0.3px;
}

:host ::ng-deep .width {
    width: 500px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
