<div *ngFor="let element of passwordList">
    <div *ngIf="element[0].formId === data">
        {{show(element[0])}}
    </div>
</div>

<div class="example-box" >
    <div class="handle-container">
        <div class="handle">
            <div class="d-flex flex-column input">
                <label class="my-2">{{ q | translate}}</label>
                <input class="input"  type="password" placeholder="{{ placeholder | translate }}" pInputText style="width: 500px"/>
            </div>
        </div>
    </div>
</div>





