#content{
    margin: auto;
    max-width: 40%;
    height: auto;
    text-align: center;
}
.jumbotron>ul>li{
    list-style-position: inside;

}

ul li{
    list-style-type:none;
    list-style-position: inside;

}

