
<p>FAVORITES</p>

<p-table [columns]="cols" [value]="form">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex = "rowIndex">
        <tr *ngIf="rowData.favorite===true">
            <td *ngFor="let col of columns" id="form">
                {{rowData[col.field]}}
            </td>
            <td id="buttons">
                <button pButton pRipple type="button-lg" label="Ayrıntı Gör" id="content"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
