<!--<button (click)="GetAll()">Tüm checkboxları Getir</button>-->
<!--<div >-->
<!--    <ul>-->
<!--        <li *ngFor="let checkbox of checkboxList">{{checkbox.id}} - {{checkbox.question}} - {{checkbox.formId}}-->
<!--&lt;!&ndash;            <button (click)="addelement('Checkbox')">FormuGetir</button>&ndash;&gt;-->

<!--            <button (click)="Remove(checkbox.id)">Sil</button> </li>-->
<!--    </ul>-->

<!--</div>-->
<!--<div>-->
<!--<h2>PostAdd</h2>-->
<!--id :-->
<!--<br>-->
<!--<input type="text" #id />-->
<!--<br> question &nbsp; :-->
<!--<br>-->
<!--<input type="text" #question />-->
<!--<br> sequenceNumberForLocation :-->
<!--<br>-->
<!--<input type="text" #sequenceNumberForLocation />-->
<!--<br>-->
<!--    formId :-->
<!--    <br>-->
<!--    <input type="text" #formId />-->
<!--    <br>-->
<!--    createTimestamp :-->
<!--    <br>-->
<!--    <input type="text" #createTimestamp />-->
<!--    <br>-->
<!--    updateTimestamp :-->
<!--    <br>-->
<!--    <input type="text" #updateTimestamp />-->
<!--    <br>-->
<!--    required :-->
<!--    <br>-->
<!--    <input type="text" #required />-->
<!--    <br>-->
<!--    selected :-->
<!--    <br>-->
<!--    <input type="text" #selected />-->
<!--    <br>-->
<!--&lt;!&ndash;<button (click)="PostAdd(id, question, sequenceNumberForLocation,formId,createTimestamp,updateTimestamp,required,selected)">Checkbox ekle</button>&ndash;&gt;-->
<!--</div>-->


<!--<div>-->
<!--    <h2>PutUpdate</h2>-->
<!--    id :-->
<!--    <br>-->
<!--    <input type="text" #id />-->
<!--    <br> question &nbsp; :-->
<!--    <br>-->
<!--    <input type="text" #question />-->
<!--    <br> sequenceNumberForLocation :-->
<!--    <br>-->
<!--    <input type="text" #sequenceNumberForLocation />-->
<!--    <br>-->
<!--    formId :-->
<!--    <br>-->
<!--    <input type="text" #formId />-->
<!--    <br>-->
<!--    createTimestamp :-->
<!--    <br>-->
<!--    <input type="text" #createTimestamp />-->
<!--    <br>-->
<!--    updateTimestamp :-->
<!--    <br>-->
<!--    <input type="text" #updateTimestamp />-->
<!--    <br>-->
<!--    required :-->
<!--    <br>-->
<!--    <input type="text" #required />-->
<!--    <br>-->
<!--    selected :-->
<!--    <br>-->
<!--    <input type="text" #selected />-->
<!--    <br>-->
<!--    <button (click)="PutUpdate(id, question, sequenceNumberForLocation, formId,createTimestamp,updateTimestamp,required,selected)">Checkbox Güncelle</button>-->
<!--</div>-->
