<app-popups [hero]="data">
    <div class="sharedLabel">
    <div class="content-section introduction" >
    <div class="feature-intro">
        <h1>Text alanı oluşturuldu!</h1>
    </div>
</div>

<div class="content-section implementation">
    <div class="card">
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Label </span>
                    <input type="text" pInputText placeholder="Text giriniz.">
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Placeholder</span>
                    <input type="text" pInputText placeholder="Placeholder giriniz.">

                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Description</span>
                    <input type="text" pInputText placeholder="Bu dosya için Description giriniz .">
                </div>
            </div>
        </div>

        <h5>Label Edit</h5>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="Label Position">
                    <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn"></button>
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <button type="button" pButton pRipple icon="pi pi-check" styleClass="p-button-success"></button>
                    <input type="text" pInputText placeholder="Text Punto">
                    <button type="button" pButton pRipple icon="pi pi-times" styleClass="p-button-danger"></button>
                </div>
            </div>
        </div>
        <div class="button">
        <button pButton type="button" class="p-button-raised p-button-rounded" label="Oluştur "></button>
        </div>
</div>
</div>
    </div>
</app-popups>
