<div class="label d-flex justify-content-start">

    <label>Enter Question</label>

</div>


<div class="textField d-flex justify-content-start">

    <input type="text" class="textField"   pInputText />

</div>

<div class="sublabel d-flex justify-content-start">

    <label>Type your question here.</label>

</div>
<hr>

<div class="label d-flex justify-content-start">

    <label>Enter Placeholder</label>

</div>


<div class="textField d-flex justify-content-start">

    <input type="text" class="textField"   pInputText />

</div>

<div class="sublabel d-flex justify-content-start">

    <label>Type your placeholder here.</label>

</div>
<hr>

<div class="label d-flex justify-content-start">

    <label>Enter Sub-Text</label>

</div>


<div class="textField d-flex justify-content-start">

    <input type="text" class="textField"   pInputText />

</div>

<div class="sublabel d-flex justify-content-start">

    <label>Type your sub-text here.</label>

</div>














