<div *ngFor="let element of numberList">
    <div *ngIf="element[0].formId === data">
        {{show(element[0])}}
    </div>
</div>

<div class="example-box" >
    <div class="handle-container">
        <div class="handle">

            <div class="d-flex flex-column">
                <label class="mt-2">{{ header | translate}}</label>
            </div>

            <div class="mt-3">
                <p-inputNumber [(ngModel)]="val" [showButtons]="true" mode="decimal" [min]="min"></p-inputNumber>
            </div>
        </div>
    </div>
</div>


