<div class="d-flex justify-content-center nav topnav align-items-center position-fixed w-100" style="z-index: 100"
     id="sec-nav">

    <div style="width: 191px"></div>

    <div class="d-flex justify-content-center" style="width: calc(100% - 382px)">
        <a href=#main class="cursor-pointer" style="margin-right: 7px;margin-left: 7px">{{'CREATE' | translate}}</a>
        <a href=#settings class="cursor-pointer"
           style="margin-right: 7px;margin-left: 7px">{{'SETTINGS' | translate}}</a>
        <a href=#publish class="cursor-pointer"
           style="margin-right: 7px;margin-left: 7px">{{'PUBLISH' | translate}}</a>
    </div>
    <div style="width: 191px">
        <p-speedDial (onClick)="changePreview()" buttonStyle="width: 40px; height: 40px;background: rgb(110, 165, 222);"
                     [model]="items" showIcon="bi bi-search"
                     direction="left"></p-speedDial>
    </div>

</div>

