.nav {
    background: rgb(244, 187, 89);
    background: linear-gradient(90deg, rgba(244, 187, 89, 1) 0%, rgba(240, 140, 68, 1) 50%, rgba(236, 108, 45, 1) 69%);
    height: 44px;
    transition: all ease .2s;

}

.topnav a {
    font-size: 20px;
    opacity: 0.8;
    float: left;
    display: block;
    color: #ffffff;
    height: 44px;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
}

.topnav a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.topnav a.active {
    background: rgba(255, 255, 255, 0.1);
}
