<!--<app-splash-screen></app-splash-screen>-->
<app-navbar style="position:fixed; width:100%; z-index:99;"></app-navbar>

<div class="grid">

    <div id="bars">
        <app-leftbar [entry]="entry"></app-leftbar>
        <app-rightbar></app-rightbar>
    </div>

    <div class="center bg-light" id="center">
        <div class="d-flex justify-content-around">

            <div class="d-flex mt-2">
                <label class="me-2">{{'PREVIEW' | translate}}</label>
                <p-inputSwitch [(ngModel)]="preview" (onChange)="showPreview()"></p-inputSwitch>
            </div>

            <button pButton type="button" (click)="clearall()" label="{{ 'CLEAR_ALL' | translate}}" icon="bi bi-trash"
                    class="p-button-danger"></button>
        </div>
        <template #temp></template>

    </div>
</div>
