.numField{
    margin-top:15px;
    margin-left:20px;
}

.checkBox{
    margin-left:15px;
    margin-top:15px;
}

.label{
    margin-top:15px;
    margin-left:23px;

}

.textField{
    margin-top:5px;
    margin-left:20px;
    width:200px;
}
