<div class="wrapper">
    <!--Top menu -->

    <div class="sidebar">
        <!--profile image & text-->
        <div class="button-place">
            <a href="#main" class="button button-58">FORM OLUŞTUR</a>
        </div>

        <!--menu item-->
        <ul>
            <li>
                <a href="#">
                    <span class="item">Tüm Formlar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="item">TASLAKLAR</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="item">Favoriler</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="item">Arşiv</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="item">Çöp</span>
                </a>
            </li>
        </ul>
    </div>
</div>





