<app-profilnav></app-profilnav>

<div class =" container ">

    <div class="row">

        <div class="map col-md-6 map " >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7296.20507411062!2d30.475352950270405!3d39.74692049057224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cc174bbe33983f%3A0x2b8fac35c5bc7e12!2sMERGEN%20YAZILIM%20A.%C5%9E!5e0!3m2!1str!2str!4v1660115612650!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-md-6 info">
            <h3>{{'OFFICE' | translate}}</h3><br>
            <p><i class="bi bi-geo-alt-fill"></i><strong>{{'ADDRESS' | translate}}</strong> {{'ADDRESSTEXT' | translate}}</p>
            <p><i class="bi bi-telephone-fill"></i><strong>{{'PHONE' | translate}}</strong> 0 (222) 2242700</p>
            <p><i class="bi bi-envelope-fill"></i><strong>{{'MAIL' | translate}}</strong> info@mergentech.com.tr</p>
            <br>
            <h3>{{'WORKHOURS' | translate}}</h3>
            <br>
            <p><i class="bi bi-clock-fill"></i>{{'WORKHOURS1' | translate}}</p>
            <p><i class="bi bi-clock-fill"></i>{{'WORKHOURS2' | translate}}</p>
        </div>

    </div>

    <div class="login-footer">
        <h4>Mergen</h4>
        <h6>Copyright 2022 Ⓒ Mergen Yazılım</h6>
    </div>

</div>
