<app-profilnav></app-profilnav>
<app-form></app-form>

<div class="grid-container">

        <div>
            <div >
                <strong>{{'NO_FORM' | translate}}</strong>
                <br><br>
                {{'SHOW_FORM' | translate}}
                <br><br>
            </div>
        </div>
        <div>
            <img src="../../../assets/layout/images/formicon.png" style="width: 80px">
            <br><br>
        </div>
        <div class="button-place">
            <a href="#main" class="button button-58">{{'STARTNOW' | translate}}</a>
        </div>

</div>
