.grid-container {
    display: grid;
    gap: 1px;
    padding-top: 160px;
    padding-left: 210px;
}

.grid-container > div  {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}

.button-58 {
    align-items: center;
    background-color: #0A4356;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    justify-content: center;
    min-width: 160px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
}

.button-58:hover {
    background-color: #F25050;
    border-color: #3385ff;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

