.mergen-logo {
    width: 100px !important;
    height: 100px !important;
    margin: 0 auto !important;
}


button.register {
    background: #53A8DCFF !important;
    border: none !important;

}

button.register:hover{
    background: #0f75ab !important;
}
