<div class="">
    <div class="mb-3">
        <div class="mb-2 fw-bold">{{ 'ENTER_Q' | translate}}</div>
        <input type="text" [(ngModel)]="header" class="w-100" pInputText/>
    </div>

    <div class="d-flex">
        <label class="me-4 fw-bold">{{ 'REQUIRED' | translate}}</label>
        <p-inputSwitch [(ngModel)]="required"></p-inputSwitch>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button class="btn btn-success mt-3" (click)='onSubmit()'>{{ 'SAVE' | translate}}</button>
</div>
