<div class="label d-flex justify-content-start">

    <label i18n>Line Color</label>

</div>


<div class="textField d-flex justify-content-start">

    <input type="color" class="textField"  placeholder="#012345" pInputText />

</div>

<div class="sublabel d-flex justify-content-start">

    <label i18n>Color of the divider in RGB format</label>

</div>
<hr>

<div class="label d-flex justify-content-start">
    <label for="divider" i18n>Divider Style</label>
</div>

<div class="label d-flex justify-content-start">
<select name="Divider Style" id="divider" class="divider">
    <option value="solid" i18n>Solid</option>
    <option value="dotted" i18n>Dotted</option>
    <option value="dashed" i18n>Dashed</option>
</select>
</div>

<div class="sublabel d-flex justify-content-start">

    <label i18n> It can be either solid, dashed or dotted. Select your style. It's up to you.</label>

</div>
<hr>

<div class="label d-flex justify-content-start">

    <label i18n>Divider Height</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="height" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>

<div class="sublabel d-flex justify-content-start">

    <label i18n> Set the line height. Use value in pixels(px).</label>

</div>

<hr class="hr">

<div class="label d-flex justify-content-start">

    <label i18n>Space Below the Divider</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="below" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>

<div class="sublabel d-flex justify-content-start">

    <label i18n> Put some spaces below the line. Use value in pixels(px).</label>

</div>

<hr>

<div class="label d-flex justify-content-start">

    <label i18n>Space Above the Divider</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="above" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>

<div class="sublabel d-flex justify-content-start">

    <label i18n> Put some spaces below the line. Use value in pixels(px).</label>

</div>

<hr style="height:2px;">

<div class="label d-flex justify-content-start">

    <label i18n>Horizontal Space</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="space" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>

<div class="sublabel d-flex justify-content-start">

    <label style="margin-bottom:50px;" i18n> Put some spaces below the line. Use value in pixels(px).</label>

</div>

<div></div>



