<div class="label d-flex justify-content-start">

    <label>{{ 'LINE_COLOR' | translate}}</label>

</div>


<div class="textField d-flex justify-content-start">

    <input type="color" class="textField" [(ngModel)]="color" placeholder="#012345" pInputText/>

</div>

<div class="sublabel d-flex justify-content-start">

    <label>{{ 'COLOR' | translate}}</label>

</div>
<hr>

<div class="label d-flex justify-content-start">
    <label for="divider">{{ 'DIVIDER_STYLE' | translate}}</label>
</div>

<div class="label d-flex justify-content-start">
    <select [(ngModel)]="style"  name="Divider Style" id="divider" class="divider">
        <option value="solid"  >{{ 'solid' | translate}}</option>
        <option value="dotted" >{{ 'dotted' | translate}}</option>
        <option value="dashed" >{{ 'dashed' | translate}}</option>
    </select>
</div>

<div class="sublabel d-flex justify-content-start">

    <label>{{ 'LONG_TEXT' | translate}}</label>

</div>
<hr>

<div class="label d-flex justify-content-start">

    <label>{{ 'DIVIDER_HEIGHT' | translate}}</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="height" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>



<hr class="hr">


<div class="label d-flex justify-content-start">

    <label>{{ 'HORIZONTAL_SPACE' | translate}}</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="space" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>

<div class="sublabel d-flex justify-content-start">

    <label > {{ 'PUT_BELOW_SPACE' | translate}}</label>

</div>
<div class="d-flex justify-content-end">
    <button class="btn btn-success my-3"  (click)='onSubmit()'>{{ 'SAVE' | translate}}</button>
</div>

<div></div>



