<div class="label d-flex justify-content-start">

    <label>{{ 'LINE_COLOR' | translate}}</label>

</div>


<div class="textField d-flex justify-content-start">

    <input type="color" class="textField" placeholder="#012345" pInputText/>

</div>

<div class="sublabel d-flex justify-content-start">

    <label>{{ 'COLOR' | translate}}</label>

</div>
<hr>

<div class="label d-flex justify-content-start">
    <label for="divider">{{ 'DIVIDER_STYLE' | translate}}</label>
</div>

<div class="label d-flex justify-content-start">
    <select name="Divider Style" id="divider" class="divider">
        <option value="solid">{{ 'SOLID' | translate}}</option>
        <option value="dotted">{{ 'DOTTED' | translate}}</option>
        <option value="dashed">{{ 'DASHED' | translate}}</option>
    </select>
</div>

<div class="sublabel d-flex justify-content-start">

    <label>{{ 'LONG_TEXT' | translate}}</label>

</div>
<hr>

<div class="label d-flex justify-content-start">

    <label>{{ 'DIVIDER_HEIGHT' | translate}}</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="height" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>

<div class="sublabel d-flex justify-content-start">

    <label>{{ 'SET_LINE_HEIGHT' | translate}}</label>

</div>

<hr class="hr">

<div class="label d-flex justify-content-start">

    <label>{{ 'DIVIDER_HEIGHT' | translate}}</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="below" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>

<div class="sublabel d-flex justify-content-start">

    <label>{{ 'PUT_BELOW_SPACE' | translate}}</label>

</div>

<hr>

<div class="label d-flex justify-content-start">

    <label>{{ 'SPACE_ABOVE' | translate}}</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="above" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>

<div class="sublabel d-flex justify-content-start">

    <label>{{ 'PUT_BELOW_SPACE' | translate}}</label>

</div>

<hr style="height:2px;">

<div class="label d-flex justify-content-start">

    <label>{{ 'HORIZONTAL_SPACE' | translate}}</label>

</div>

<div class="textField d-flex justify-content-start">

    <p-inputNumber [(ngModel)]="space" [showButtons]="true" mode="decimal"></p-inputNumber>

</div>

<div class="sublabel d-flex justify-content-start">

    <label style="margin-bottom:50px;"> {{ 'PUT_BELOW_SPACE' | translate}}</label>

</div>

<div></div>



