<div *ngIf="form.length > 0; else elseBlock">
    <p-table [columns]="cols" [value]="form">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<ng-template #elseBlock>
    <div>
        <div>
            <div>
                <strong>{{'NO_FORM' | translate}}</strong>
                <br><br>
                {{'SHOW_FORM' | translate}}
                <br><br>
            </div>
        </div>

        <div>
            <img src="../../../assets/layout/images/formicon.png" style="width: 80px">
            <br><br>
        </div>
        <div class="button-place">
            <a href="#/main" class="button button-58">{{'STARTNOW' | translate}}</a>
        </div>
    </div>
</ng-template>
