.button-place {
    text-align: center;
}


.button-58 {
    align-items: center;
    background-color: #0A4356;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    justify-content: center;
    min-width: 160px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
}

.button-58:hover {
    background-color: #F25050;
    border-color: #3385ff;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-58 {
    align-items: center;
    background-color: #70ADBF;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    justify-content: center;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 30px;
    border-radius: 5px;
}

.button-58:focus {
    color: #171e29;
}

.button-58:hover {
    background-color: #F25050;
    border-color: #3385ff;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-58:active {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
}

@media (min-width: 768px) {
    .button-58 {
        min-width: 170px;
    }
}

.button-place {
    text-align: center;
}

#favbutton{
    padding: 3px;
    margin: 3px;
}



#archbutton{
    padding: 3px;
    margin: 3px;
}

#trashbutton{
    padding: 3px;
    margin: 3px;
}

