<div *ngIf="formLength > 0; else elseBlock" class="allforms">
    <p-table [columns]="cols" [value]="form">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex = "rowIndex">
            <tr *ngIf="rowData.removed === false && rowData.archived === false">

                <td *ngFor="let col of columns" id="form">
                    {{rowData[col.field]}}
                </td>

                <td id="buttons">
                    <button pButton pRipple type="button-lg" label="Ayrıntı Gör" id="content" (click) = "openTheForm(rowData.id,rowData.formName)" ></button>
                    <button (click)="addToFavorites(rowIndex)" title="Favorilere ekle" pButton pRipple type="button" icon="pi pi-star" class="p-button-rounded p-button-help" id="favbutton" ></button>
                    <button (click)="addToArchives(rowIndex)" title="Arşivle" pButton pRipple type="button" icon="pi pi-inbox" class="p-button-rounded p-button-success" id="archbutton"></button>
                    <button (click)="addToTrash(rowIndex)" title="Sil" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" id="trashbutton"></button>
                </td>




            </tr>



        </ng-template>



    </p-table>
</div>






<ng-template #elseBlock>
    <div>
        <div>
            <div>
                <strong>{{'NO_FORM' | translate}}</strong>
                <br><br>
                {{'SHOW_FORM' | translate}}
                <br><br>
            </div>
        </div>

        <div>
            <img src="../../../assets/layout/images/formicon.png" style="width: 80px">
            <br><br>
        </div>
        <div class="button-place">
            <a href="#/main" class="button button-58">{{'STARTNOW' | translate}}</a>
        </div>
    </div>
</ng-template>


