<!--<div *ngFor="let element of checkboxList">-->
<!--    <div *ngFor="let element2 of element">-->
<!--        <div *ngIf="element2.formId === data">-->
<!--            {{show(element2)}}-->
<!--        </div>-->

<!--    </div>-->

    <div class="example-box box">
        <div class="handle-container">
            <div class="handle">
                <div class="field-checkbox box ">
                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                    <label id="inputheader"></label>
                </div>
            </div>
        </div>
    </div>







