<app-navbar></app-navbar>
<app-secondary-nav></app-secondary-nav>

<div class="d-flex flex-row position-relative top">
    <div class="left">
        <div class="left-item  ms-3 mt-5 p-3" (click)="showComponent('Form Settings')">
            <div class="d-flex flex-row align-items-center">
                <i style="font-size: 2rem; margin-right: 20px"
                   class="bi bi-gear-fill text-black"></i>
                <div>
                    <div class="fw-bold text-uppercase">
                        {{'FORM_SETTINGS' | translate}}
                    </div>
                    <div>
                        {{'FORM_SETTINGS_SUB' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="left-item ms-3 mt-5 p-3" (click)="showComponent('Email Settings')">
            <div class="d-flex flex-row align-items-center">
                <i style="font-size: 2rem; margin-right: 20px"
                   class="bi bi-envelope-fill text-black"></i>
                <div>
                    <div class="fw-bold text-uppercase">
                        {{'EMAIL' | translate}}
                    </div>
                    <div>
                        {{'FORM_EMAIL_SUB' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 p-5">
        <div [ngSwitch]="comp">
            <app-formsettings *ngSwitchCase="'Form Settings'"></app-formsettings>
            <app-emailsettings *ngSwitchCase="'Email Settings'"></app-emailsettings>
        </div>
    </div>
</div>

