<div [ngClass]="collapsed ? 'sidenav-collapsed sidenav overflow-scroll': 'sidenav-short' ">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapsed()">
            <i class="bi bi-brush-fill designer-logo"></i>
        </button>
        <div class="logo-text" *ngIf="collapsed">Form Designer</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>

    <div [className]="!collapsed ? 'p-4 d-none' : 'p-4 d-block'">

        <app-password></app-password>

        <div class="d-flex justify-content-end">
            <button class="btn btn-success mt-3">Save</button>
        </div>

    </div>

</div>
