<div [className]="!collapsed ? 'sidenav-short' : 'sidenav'" [ngClass]="collapsed ? 'sidenav-collapsed': '' ">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapsed()">
            <i class="bi bi-brush-fill designer-logo"></i>
        </button>
        <div class="logo-text" *ngIf="collapsed">Form Designer</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <app-adress></app-adress>
    <div [className]="!collapsed ? 'p-4 d-none' : 'p-4 d-block'">
        <div class="d-flex justify-content-end">
        </div>

    </div>
</div>
