<div *ngFor="let element of fileList">
    <div *ngIf="element[0].formId === data">
        {{show(element[0])}}
    </div>
</div>
<div class="example-box">
    <div class="handle-container">
        <div class="handle">
            <label class="my-2">{{ header | translate}}</label>
            <p-fileUpload i18n name="myfile[]" maxFileSize="1000000" styleClass="width"
                          chooseLabel="{{'CHOOSE' | translate}}"
                          uploadLabel="{{'UPLOAD' | translate}}"
                          cancelLabel="{{'CANCEL' | translate}}"></p-fileUpload>
        </div>
    </div>
</div>
