.primary-btn{
    background: rgb(105, 166, 215);
    border-color: rgb(105, 166, 215);
}

.primary-btn:hover{
    background: #0f75ab !important;
    border-color: rgb(105, 166, 215);
}

h1{
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
}
