// Font
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i);

.topnav {
    background-color: #f8fafc;
    overflow: auto;
    overflow-y: hidden;
    z-index: 99;
}

.topnav a {
    opacity: 0.8;
    float: left;
    display: block;
    color: #000000;
    height: 60px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: lightblue;
    color: black;
    opacity: 1.0;
}

.topnav a.active {
    background-color: lightblue;
    color: white;
}

.topnav a.logo:hover {
    color: black;
    background-color: #f8fafc;
    animation: desecale 1s;
}

.topnav img.logo {
    margin-top: -18px;
    margin-left: 0;
    width: 150px;
    height: 75px;
}

.topnav a.img.navbarAvatar {
    position: absolute;
    right: 50px;
    height: 640px;
}

.topnav a.navbarAvatar {
    position: absolute;
    right: 50px;
    height: 640px;
    width: 50px;
    margin-top: 0;
}

.topnav a.navbarAvatar:hover {
    animation: desecale 1s;
    background-color: #f8fafc;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

#landing {
    margin-top: 50px;
    padding: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
    background-image: url("https://i.pinimg.com/564x/a1/3e/2d/a13e2d6b9f65ba2d811a5e2385d71b20.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#welcomeWrite {
    text-align: center;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;


}

#welcomeWrite h1 {
    font-weight: bold;
    color: #0B0A32;
    max-width: 100%;

}

#welcomeWrite p {
    font-size: 20px;
    max-width: 100%;
}


#landingImg {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin: auto;
    max-width: 60%;
    height: auto;


}

#landingCards {
    margin-top: 150px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.card {
    margin: auto;
    height: 470px;
    background-color: #DBDADA;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card img {
    width: 95%;
    height: 50%;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
    margin: 6px;
}

.card h5 {
    font-size: 30px;
    max-width: 100%;
    margin-top: 20px;
}

.card p {
    font-size: 18px;
    max-width: 100%;
    margin-top: 20px;
}


.login-footer {
    text-align: center;
}

button.login {
    min-height: 40px;
    min-width: 75px;
    background: #70CA67;
    border: none;
    color: white;
}

button.login:hover {
    background: #47923F;
}

button.register {
    min-height: 30px;
    background: #53A8DCFF;
    border: none;
    color: white;

}

button.register:hover {
    background: #0f75ab;
    color: white;
}


:host ::ng-deep .pass {
    width: 247px;
    margin-bottom: 10px;
    background-color: #F6F7F7;
    border: 1.2px solid #D4D6D9;
    color: #515C66;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 10px;
}


.register-a {
    color: #53A8DCFF;
    cursor: pointer;

}



