.inputtext{
    margin-top:15px;
    margin-left: 15px;
}
.inputswitch{
    margin-top: 20px;
    right: -5px;
}
.inputtextarea{
    margin-left: 50px;
    width: 15rem;
    max-width: 15rem;
}
.inputswitch{
    margin-left: 5px;
}
.inputswitch inputlabel1{
    margin-left: 15px;
}
.inputnumber{
    margin-left: 10px;
}
.button{
    margin-top: 35px;
    margin-left: 8px;
}
