<div class="topnav" id="myTopnav">
    <div class="container">

        <a href='/' class="logo user-select-none"> <img src="assets/layout/images/navbarlogo.png" class="logo"></a>
        <a href='/'>{{'HOME' | translate}}</a>

        <div class="d-flex justify-content-end">
            <a href=#login>{{'LOGIN' | translate}}</a>
            <a href=#register>{{'REGISTER' | translate}}</a>
            <a href="#profile">{{'PROFILE' | translate}}</a>
            <app-lang-switcher></app-lang-switcher>
        </div>
    </div>
</div>
