.textField{
    margin-top:5px;
    width:300px;
    margin-left:-5px;

}



.label{
    font-weight: 500;
    margin-left:-5px;
    margin-top:20px;


}

.sublabel{
    margin-top:5px;
    font-size:12px;
    margin-left:-5px;

}

.divider{
    margin-top:-10px;
    width:300px;
    height:30px;
    margin-left:-5px;
}

hr{
    margin-left:-20px;
    height:2px;
    width:350px;


}
