<div class="label d-flex justify-content-start">

    <label>Line Color</label>

</div>


<div class="textField d-flex justify-content-start">

    <input type="color" class="textField"  placeholder="#012345" pInputText />

</div>

<div class="sublabel d-flex justify-content-start">

    <label>Color of the divider in RGB format</label>

</div>
<hr>

<div class="label d-flex justify-content-start">
    <label for="divider">Divider Style</label>
</div>

<div class="label d-flex justify-content-start">
<select name="Divider Style" id="divider" class="divider">
    <option value="solid">Solid</option>
    <option value="dotted">Dotted</option>
    <option value="dashed">Dashed</option>
</select>
</div>

<div class="sublabel d-flex justify-content-start">

    <label> It can be either solid, dashed or dotted. Select your style. It's up to you.</label>

</div>
<hr>

<div class="label d-flex justify-content-start">

    <label>Divider Height</label>

</div>

<div class="textField d-flex justify-content-start">

    <input type="text" class="textField"  placeholder="1" pInputText />

</div>

<div class="sublabel d-flex justify-content-start">

    <label> Set the line height. Use value in pixels(px).</label>

</div>

<hr class="hr">

<div class="label d-flex justify-content-start">

    <label>Space Below the Divider</label>

</div>

<div class="textField d-flex justify-content-start">

    <input type="text" class="textField"  placeholder="1" pInputText />

</div>

<div class="sublabel d-flex justify-content-start">

    <label> Put some spaces below the line. Use value in pixels(px).</label>

</div>

<hr>

<div class="label d-flex justify-content-start">

    <label>Space Above the Divider</label>

</div>

<div class="textField d-flex justify-content-start">

    <input type="text" class="textField"  placeholder="1" pInputText />

</div>

<div class="sublabel d-flex justify-content-start">

    <label> Put some spaces below the line. Use value in pixels(px).</label>

</div>

<hr style="height:2px;">

<div class="label d-flex justify-content-start">

    <label>Horizontal Space</label>

</div>

<div class="textField d-flex justify-content-start">

    <input type="text" class="textField"  placeholder="1" pInputText />

</div>

<div class="sublabel d-flex justify-content-start">

    <label style="margin-bottom:50px;"> Put some spaces below the line. Use value in pixels(px).</label>

</div>

<div></div>



