<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': '' ">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapsed()">
            <i class="bi bi-plus-square plus"></i>
        </button>
        <div i18n class="logo-text" *ngIf="collapsed">Elements</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let item of formElements">
            <div class="sidenav-nav-link user-select-none" (click)="add(item.name)">
                <i class="sidenav-link-icon" [class]="item.class"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{item.name}}</span>
            </div>
        </li>
    </ul>
</div>
