<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': '' ">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapsed()">
            <i class="bi bi-plus-square plus"></i>
        </button>
        <div i18n class="logo-text" *ngIf="collapsed">{{'ELEMENTS' | translate }}</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item">
            <div class="sidenav-nav-link user-select-none" (click)="add('Text Field')">
                <i class="sidenav-link-icon bi bi-card-text"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ 'TEXT_FIELD' | translate}}</span>
            </div>
        </li><li class="sidenav-nav-item">
            <div class="sidenav-nav-link user-select-none" (click)="add('Checkbox')">
                <i class="sidenav-link-icon bi bi-check2-square"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ 'CHECK_BOX' | translate}}</span>
            </div>
        </li><li class="sidenav-nav-item">
            <div class="sidenav-nav-link user-select-none" (click)="add('Date')">
                <i class="sidenav-link-icon bi bi-calendar-date"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ 'DATE' | translate}}</span>
            </div>
        </li><li class="sidenav-nav-item">
            <div class="sidenav-nav-link user-select-none" (click)="add('Date with time')">
                <i class="sidenav-link-icon bi bi-calendar-day"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ 'DATE_TIME' | translate}}</span>
            </div>
        </li><li class="sidenav-nav-item">
            <div class="sidenav-nav-link user-select-none" (click)="add('Email')">
                <i class="sidenav-link-icon bi bi-envelope"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ 'EMAIL' | translate}}</span>
            </div>
        </li><li class="sidenav-nav-item">
            <div class="sidenav-nav-link user-select-none" (click)="add('File')">
                <i class="sidenav-link-icon bi bi-file-earmark-text"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ 'FILE' | translate}}</span>
            </div>
        </li><li class="sidenav-nav-item">
            <div class="sidenav-nav-link user-select-none" (click)="add('Number')">
                <i class="sidenav-link-icon bi bi-123"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ 'NUMBER' | translate}}</span>
            </div>
        </li><li class="sidenav-nav-item">
            <div class="sidenav-nav-link user-select-none" (click)="add('Password')">
                <i class="sidenav-link-icon bi bi-asterisk"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ 'PASSWORD' | translate}}</span>
            </div>
        </li>
        <li class="sidenav-nav-item">
            <div class="sidenav-nav-link user-select-none" (click)="add('Range')">
                <i class="sidenav-link-icon bi bi-view-list"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ 'RANGE' | translate}}</span>
            </div>
        </li>
    </ul>
</div>
