<app-profilnav></app-profilnav>
<div class="container">
    <h1>{{'USERGUIDEHEADER' | translate}}</h1>

    <div class="row everyrow1">
        <div class="col-md-4 photo">
            <img src="assets/layout/images/userguide1.PNG" >
        </div>
        <div class="col-md-4 info">
            <p>{{'UGp1' | translate}}</p>
        </div>
    </div>

    <div class="row everyrow2 ">
        <div class="col-md-4 info" >
          <p>{{'UGp2' | translate}}</p>
        </div>
        <div class="col-md-4 photo">
            <img src="assets/layout/images/userguide2.PNG" >
        </div>
    </div>

    <div class="row everyrow1">
        <div class="col-md-4 photo">
            <img src="assets/layout/images/userguide3.PNG" >
        </div>
        <div class="col-md-4 info">
           <p>{{'UGp3' | translate}}</p>
        </div>
    </div>

    <div class="row everyrow2">
        <div class="col-md-4 info">
           <p>{{'UGp4' | translate}}</p>
        </div>
        <div class="col-md-4 photo">
            <img src="assets/layout/images/userguide4.PNG" >
        </div>
    </div>

    <div class="row everyrow1">
        <div class="col-md-4 photo">
            <img src="assets/layout/images/userguide5.PNG" >
        </div>
        <div class="col-md-4 info">
            <p>{{'UGp5' | translate}}</p>
        </div>
    </div>

    <div class="row everyrow2">
        <div class="col-md-4 info">
            <p>{{'UGp6' | translate}}</p>
        </div>
        <div class="col-md-4 photo">
            <img src="assets/layout/images/userguide6.PNG" >
        </div>
    </div>

    <div class="row everyrow1">
        <div class="col-md-4 photo ">
            <img src="assets/layout/images/userguide8.PNG" >
        </div>
        <div class="col-md-4 info">
            <p>{{'UGp7' | translate}}</p>
        </div>
    </div>

    <div class="row everyrow2">
        <div class="col-md-4 info">
            <p>{{'UGp8' | translate}}</p>
        </div>
        <div class="col-md-4 photo">
            <img src="assets/layout/images/userguide7.PNG" >
        </div>
    </div>

    <div class="row everyrow1">
        <div class="col-md-4 photo">
            <img src="assets/layout/images/userguide10.PNG" >
        </div>
        <div class="col-md-4 info">
            <p>{{'UGp9' | translate}}</p>

        </div>
    </div>

    <div class="row everyrow2">
        <div class="col-md-4 info">
            <p>{{'UGp10' | translate}}</p>
        </div>
        <div class="col-md-4 photo">
            <img src="assets/layout/images/userguide9.PNG" >
        </div>
    </div>

</div>








<div class="login-footer">
    <h4>Mergen</h4>
    <h6>Copyright 2022 Ⓒ Mergen Yazılım</h6>
</div>
