<div class="login-body">
    <div class="login-wrapper">
        <div class="login-panel">
            <a [routerLink]="['/']" class="logo">
                <img class="mergen-logo" src="../../../assets/layout/images/mergentechLogo.png" alt="freya-layout"/>
            </a>

            <input #name pInputText placeholder="Name"/>
            <input #surname pInputText placeholder="Surname"/>
            <input #email pInputText placeholder="Email"/>
            <p-password #pass inputStyleClass="pass" placeholder="Password" [toggleMask]="true"></p-password>
            <p-password #passConfirm inputStyleClass="pass" placeholder="Password Confirm" [toggleMask]="true"></p-password>
            <button pButton pRipple label="REGISTER" type="button" class="register"
                    (click)="register(name.value, surname.value, email.value, pass.value, passConfirm.value)"></button>

        </div>

        <div class="login-footer">
            <h4>Mergen</h4>
            <h6>Copyright 2022 Ⓒ Mergen Yazılım</h6>
        </div>

    </div>
</div>

<p-toast position="top-right"></p-toast>
