<div class="login-body">
    <div class="login-wrapper">
        <div class="login-panel">
            <a [routerLink]="['/']" class="logo">
                <img class="mergen-logo" src="../../../assets/layout/images/mergentechLogo.png" alt="freya-layout"/>
            </a>

            <form [formGroup]="formGroup" class="d-flex flex-column">
                <mat-form-field appearance="fill">
                    <mat-label i18n>Name</mat-label>
                    <input #name matInput formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label i18n>Surname</mat-label>
                    <input #surname matInput formControlName="surname">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label i18n>Email</mat-label>
                    <input #email matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label i18n>Password</mat-label>
                    <input #pass matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label i18n>Confirm Password</mat-label>
                    <input #passConfirm matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </form>

            <button pButton pRipple label="REGISTER" type="button" class="register"
                    (click)="register(name.value, surname.value, email.value, pass.value, passConfirm.value)">
            </button>

        </div>

        <div class="login-footer">
            <h4>Mergen</h4>
            <h6>Copyright 2022 Ⓒ Mergen Yazılım</h6>
        </div>

    </div>
</div>

<p-toast position="top-right"></p-toast>
