<div class="d-flex">

    <div class="d-flex flex-column col-5 px-0 pt-0">
        <label class="pt-2 mb-4" for="topLabel" i18n>Enter question :</label>
        <label class="pt-1 mb-4" for="placeHolder" i18n>Enter sub-text :</label>
        <label for="botLabel" i18n>Enter placeholder :</label>

    </div>

    <div class="d-flex flex-column">
        <input class="mb-2" type="text" id="topLabel" pInputText/>
        <input class="mb-2" type="text" id="placeHolder" pInputText/>
        <input type="text" id="botLabel" pInputText/>
    </div>
</div>

