<div class="label d-flex justify-content-center">
</div>


<div class="textField d-flex justify-content-center">
    <input type="text" id="topLabel" placeholder="Enter question" pInputText />
</div>
<div class="textField d-flex justify-content-center">
    <input type="text" id="placeHolder" placeholder="Enter text" pInputText />
</div>
<div class="textField d-flex justify-content-center">
    <input type="text" id="botLabel" placeholder="Enter placeholder" pInputText />
</div>


<div class="button d-flex justify-content-center">
    <button pButton type="button" label="Submit" ></button>
</div>

