<div class="d-flex flex-row align-items-center">
    <i style="font-size: 2rem; margin-right: 20px"
       class="pi pi-envelope text-black"></i>
    <div>
        <div class="fw-bold text-uppercase">
            {{"EMAIL_FORM" | translate}}
        </div>
        <div>
            {{"SUB_EMAIL_FORM" | translate}}
        </div>
    </div>

</div>

<div class="d-flex flex-row align-items-center ml-2 mt-5" id="sub1" (click)="open()" >
    <i style="font-size: 2rem; margin-right: 20px"
       class="pi pi-share-alt text-black"></i>
    <div>
        <div class="fw-bold text-uppercase">
            {{"SSHARE" | translate}}
        </div>
        <div>
            {{"SUB_SSHARE" | translate}}
        </div>
    </div>

</div>

<div class="d-flex flex-row align-items-center ml-2 mt-5 subMail" >
    <i style="font-size: 2rem; margin-right: 20px"
       class="pi pi-book text-black"></i>
    <div>
        <div class="fw-bold text-uppercase">
            {{"SCHEDULE" | translate}}
        </div>
        <div>
            {{"SUB_SCHEDULE" | translate}}
        </div>
    </div>

</div>





