<div class="d-flex flex-row align-items-center">
    <i style="font-size: 2rem; margin-right: 20px"
       class="pi pi-envelope text-black"></i>
    <div>
        <div class="fw-bold text-uppercase">
            EMAIL FORM
        </div>
        <div>
            Share your forms through email.
        </div>
    </div>

</div>

<div class="d-flex flex-row align-items-center ml-2 mt-5" id="sub1" (click)="open()" >
    <i style="font-size: 2rem; margin-right: 20px"
       class="pi pi-envelope text-black"></i>
    <div>
        <div class="fw-bold text-uppercase">
            SHARE
        </div>
        <div>
           Share a direct link to your form via email.
        </div>
    </div>

</div>

<div class="d-flex flex-row align-items-center ml-2 mt-5 subMail" >
    <i style="font-size: 2rem; margin-right: 20px"
       class="pi pi-envelope text-black"></i>
    <div>
        <div class="fw-bold text-uppercase">
            SCHEDULE
        </div>
        <div>
            Send periodic emails to remind people to fill out your form.
        </div>
    </div>

</div>





