<div class="grid">
    <div class="col-12">
        <div class="p-inputgroup">
            <div class="inputtext d-flex justify-content">
                <input type="text" id="topLabel" placeholder="Soru giriniz." pInputText/>
            </div>
            <div class="p-inputgroup">
                <div class="inputswitch d-flex justify-content">
                    <label i18n>Required</label>
                    <p-inputSwitch id="zorunlu" [(ngModel)]="checked"></p-inputSwitch>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="field d-flex justify-content">
    <label class="textmail" i18n>E-mail</label>
    <input type="text" pInputText placeholder="ornek@ornek">
    <span class="p-inputgroup-addon">.com</span>
</div>
<div class="inputswitch">
    <label class="inputlabel" id="label1">{{ 'CHAR_LIMIT' | translate}}</label>
    <p-inputSwitch class="inputswitch2" id="girisLmt" [(ngModel)]="detail"></p-inputSwitch>
</div>
<div class="p-inputgroup">
    <div class="field justify-content">
        <label class="slidertext">{{ 'CHAR' | translate}} {{val2}}</label>
        <p-slider [(ngModel)]="val2"></p-slider>
    </div>
</div>
<div class="button justify-content-center">
    <button pButton pRipple type="button" icon="pi pi-clone" class="p-button-rounded p-button-help"></button>
    <small id="comment2-help" class="block">{{ 'CLON' | translate}}</small>
</div>
