.inputtext{
    margin-top:15px;
    margin-left: 15px;
}
.inputswitch{
    margin-top: 15px;
    position: relative;
    right: -25px;
}
.field{
    margin-top: 15px;
    margin-left:15px ;
}
.field textmail{
    margin-right: 15px;
}
.inputswitch inputlabel{
    margin-left: 15px;
}
.p-inputgroup field{
    margin-top: 15px;
    margin-left: 15px;
}

.button{
    margin-top: 35px;
    margin-left: 8px;
}
