<div class="d-flex flex-row align-items-center">
    <i style="font-size: 2rem; margin-right: 20px"
       class="pi pi-link text-black"></i>
    <div>
        <div class="fw-bold text-uppercase">
            {{ 'DIRECT' | translate }}
        </div>
        <div>
            {{ 'SUB_DIRECT' | translate }}
        </div>
        <div>
            <input pInputText placeholder="{{ placeholder | translate }}" type="text" style="width: 500px;">
        </div>
    </div>

</div>
<div class="justify-content-end mt-5 ">
<p-button >{{ 'SHARE' | translate }}</p-button>
</div>
