<div class="d-flex flex-row align-items-center">
    <i style="font-size: 2rem; margin-right: 20px"
       class="pi pi-link text-black"></i>
    <div>
        <div class="fw-bold text-uppercase">
            DIRECT LINK OF YOUR FORM
        </div>
        <div>
            Your form is securely published and ready to use at this address.
        </div>
        <div>
            <input pInputText placeholder="{{ placeholder | translate }}" type="text" style="width: 500px;">
        </div>
    </div>

</div>
<div class="justify-content-end mt-5 ">
<p-button >Share</p-button>
</div>
